
body {
    background: linear-gradient(to right, #9796f0, #fbc7d4);
}

.main {
    width: 1300px;
    margin: 0 auto;
}

.info {
    border: 2px solid;
    background: #fffaf9;
    font-size: x-large;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
}